 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1609px;
}

.u-section-1 .u-group-1 {
  width: 403px;
  min-height: 911px;
  margin: 60px auto 0 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  min-height: 72px;
  margin-top: 17px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-shape-1 {
  height: 67px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-1 {
  text-align: left;
  margin: -73px -5px 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-align: left;
  margin: 95px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  text-align: left;
  margin: 12px 0 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-align: left;
  margin: 40px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  margin: 12px 0 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-align: left;
  margin: 40px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  text-align: left;
  margin: 12px 0 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-align: left;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-align: left;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-align: left;
  margin: 40px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  text-align: left;
  margin: 12px 0 0;
}

.u-section-1 .u-group-3 {
  width: 636px;
  min-height: 905px;
  height: auto;
  background-image: none;
  margin: -908px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 3px;
  padding-top: 0;
}

.u-section-1 .u-text-12 {
  margin: 54px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 682px;
  width: 291px;
  height: auto;
  margin: 40px auto 0 13px;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-1 .u-group-5 {
  min-height: 680px;
  margin-top: -1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  height: 284px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 17px 20px 0 7px;
}

.u-section-1 .u-text-14 {
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  text-align: center;
  margin: 43px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-1 .u-form-1 {
  height: 137px;
  text-align: left;
  margin: 1px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.u-block-6c9d-216 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-group-6 {
  min-height: 683px;
  width: 287px;
  height: auto;
  margin: -683px 17px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 284px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 17px 20px 0 7px;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  text-align: center;
  margin: 43px 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-1 .u-form-2 {
  height: 137px;
  text-align: left;
  margin: 1px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.u-block-6c9d-231 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
  padding: 8px 125px 8px 123px;
}

.u-section-1 .u-group-7 {
  width: 570px;
  min-height: 511px;
  background-image: none;
  height: auto;
  margin: 55px auto 60px 47px;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-group-8 {
  min-height: 506px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-19 {
  text-align: center;
  font-weight: 700;
  margin: 25px auto 0 20px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  font-style: italic;
  text-align: left;
  margin: 15px auto 0 20px;
}

.u-section-1 .u-form-3 {
  margin-top: 0;
  height: 439px;
  text-align: center;
  margin-bottom: -29px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-bottom: -1px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 234px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -1358px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 234px;
  }

  .u-section-1 .u-form-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 697px;
    padding: 10px 40px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-group-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-6 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 179px;
  }

  .u-section-1 .u-image-2 {
    height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 134px;
  }

  .u-section-1 .u-image-2 {
    height: 134px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 84px;
  }

  .u-section-1 .u-image-2 {
    height: 84px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }
}